body {
  font-family: 'consolas';
  background-color: rgb(68, 68, 68);
  overflow: hidden;
}

.editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editor, .preview {
  width: 100%;
  padding: 10px;
}

.preview {
  border: 1px solid #ccc;
  display: none;
}

button {
  margin-top: 10px;
}

#markdown-input {
  overflow: hidden;
  width: 90%;
  height: 90vh;
  background-color: rgb(122, 122, 122);
}
