body {
  font-family:  Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(68, 68, 68);
  overflow: hidden;
}

.editor-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.editor,
.preview {
  width: 100%;
  padding: 10px;
}

.preview {
  border: 1px solid #ccc;
  background-color: rgb(68, 68, 68);
  padding: 10px;
  margin-left: 10px;
  width: 140vh;
  height: 90vh;
  display: none;
}

button {
  margin-top: 10px;
}

#markdown-input {
  overflow: hidden;
  width: 140vh;
  height: 90vh;
  background-color: rgb(155, 114, 114);
  resize: none;
}